.footer{
  background-color:#FFFFFF;
  color: $color-background;
  padding: 1em  0 2em 0;
  line-height: 100%;
  text-align: center;
  display: flex;
  align-items: flex-end;
}
.nav{
  margin: 0;
}

.legal{
  max-width: 700px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 110%;
  margin-top: 3rem;
  color: #000000;
}

.footer-icon {
  color: $color-background;
}

.fa-cog {
  color: black;
}

